


header h1,h2{
   padding: 20px left solid;
   color: cornflowerblue;
   margin:0px;
   
}
p a{
    color: rgb(63, 16, 233);
    padding: 0%;
    margin: 0%;

}
.center {
    border:2px solid;
    
  }
  .style {
      color: cornflowerblue;
      text-decoration: underline;

  }
  html {
       margin:top right left;
       background: cyan;

  }

  footer{
    text-align: center;
   background-color:black;
   padding-top: 20px;

}
    